// function formatTime(originVal) {
//   const dt = new Date(Number(originVal * 1000))
//   const y = dt.getFullYear()
//   const m = (dt.getMonth() + 1 + '').padStart(2, '0')
//   const d = (dt.getDate() + '').padStart(2, '0')
//   const hh = (dt.getHours() + '').padStart(2, '0')
//   const mm = (dt.getMinutes() + '').padStart(2, '0')
//   const ss = (dt.getSeconds() + '').padStart(2, '0')
//   // return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
//   return `${y}-${m}-${d}`
// }

function taskType(type) {
  switch (type) {
    case 'tasks':
      return '巡检情况'
    case 'elevator':
      return '电梯维保'
    case 'fire_control':
      return '消防维护'
    case 'security':
      return '安保'
    case 'health':
      return '保洁卫生'
  }
}
module.exports = {
  taskType: taskType
};